@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Arimo', sans-serif; */

body{
    font-family: 'Arimo', sans-serif;
    height: 100vh;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.my-btn{
    margin: 1.2em;
    padding: 0.5em;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: orange;
  border-color: orange;
}
.carousel-nav-icon {
    height: 48px;
    width: 48px;
 }
 .carousel-item {
    .col, .col-sm, .col-md {
       margin: 8px;
       height: 300px;
       background-size: cover;
       background-position: center center;
    }
 }


 #carouselExampleControls{
text-align: center;
 }

 .col{
     width: 25%;
 }