@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;600&family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */
/* font-family: 'Arimo', sans-serif; */

body {
  font-family: 'Arimo', sans-serif;
  height: 100vh;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #003a52;
}

a {
  color: #ffffff;
  text-decoration: underline;
}

a:hover {
  color: #003a52;
}



/* index, main */
.bn-btn {
  width: 9.4rem;
  margin: 1.2em;
  padding: 0.5em;
  font-weight: 600;
  letter-spacing: 0.2em;
  color: orange;
}


/* drink */
.col {
  width: 50%;
  margin-bottom: 1em;
}
#menu {
  width: 100%;
  text-align: center;
  margin-top: 10rem;
}

#menu>a {
  font-size: 1em;
}
.my-menu{
  margin-bottom: 2rem;
}
#drink{
  width: 99%;
}
#drinkList{
 
  margin-bottom: 1rem;
}


/* starbucks */
#brand{
  margin-top: 50rem;
}

/* starbucks, payment*/
.miniTitle{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 3em;
}
/* contacts */
.person{
  font-size: 2rem;
  text-align: right;
  
}
.person>div>img {
  width: 3rem;
}
.person>div:first-child {
  margin-left: 1em;
  float: left;
}
.person>div:nth-child(2) {
  margin-left: 1em;
  float: left;
}
#contact{
  float: left;
  clear: both;
}

/* end */
#endPage {
  text-align: center;
}

#bye{
  font-size: 3em;
}

/* index, main */
#bn-nav{
margin-left: 7rem;
}



/* index */
#text-center {
  margin-top: 4rem;
}

/*preview*/
#preview{
  text-align: center;
}

#mainImg{
  width: 60%;
  float: left;
}

#code {
  text-align: center;
}
#barcode{
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#qrcode{
  width: 7rem;
  float: left;
  clear: right;
  margin-left: 1rem;
}
#main{
  text-align: center;
  margin-left: 2rem;
}
/*message page*/
#GPitem {
  text-align: center;
}
#GPitem>img {
  text-align: center;
  width: 50%;
  margin: 1em;
}
#messageSection{
  text-align: center;
  width: 100%;
}

/*login*/
.loginbottom{
margin-top: -10em;
}